In [1]:
from SPARQLWrapper import SPARQLWrapper, JSON
freebase_url = "http://210.28.134.34:8890/sparql"
endpoint = SPARQLWrapper(freebase_url)
endpoint.setReturnFormat(JSON)

In [1]:
import pyodbc
def initialize_odbc_connection():
    global odbc_conn
    odbc_conn = pyodbc.connect(
        'DRIVER=/home3/xwu/virtuoso/virtodbc.so;Host=localhost:1111;UID=dba;PWD=dba'
    )
    odbc_conn.setdecoding(pyodbc.SQL_CHAR, encoding='utf8')
    odbc_conn.setdecoding(pyodbc.SQL_WCHAR, encoding='utf8')
    odbc_conn.setencoding(encoding='utf8')
    print('Freebase Virtuoso ODBC connected')

def query_with_odbc(query):
    try:
        with odbc_conn.cursor() as cursor:
            cursor.execute(query)
            rows = cursor.fetchall()
    except Exception as err:
        print(err)
        print(f"Query Execution Failed:{query}")
        initialize_odbc_connection()
        return []    
    return rows

initialize_odbc_connection()

Freebase Virtuoso ODBC connected

In [3]:
def convert_time2value(raw_time_str):
    if raw_time_str=="null":
        return raw_time_str
    bc=""
    res=raw_time_str
    if raw_time_str.startswith("-"):
        bc="-"
    if raw_time_str.find(':')!=-1:
        res=raw_time_str[:(raw_time_str.find(':')-2)].strip()
    res=res.replace("-","")
    if len(res)==4:
        res=res+"0101"
    return bc+res

spouse_dict={"r_name":"people.person.spouse_s","cvt_typ":"people.marriage","p2s":"people.marriage.spouse","p2o":"people.marriage.spouse","p2st":"people.marriage.from","p2en":"people.marriage.to"}
memofsportsteam_dict={"r_name":"sports.pro_athlete.teams","cvt_typ":"sports.sports_team_roster","p2s":"sports.sports_team_roster.player","p2o":"sports.sports_team_roster.team","p2st":"sports.sports_team_roster.from","p2en":"sports.sports_team_roster.to"}
employer_dict={"r_name":"people.person.employment_history","cvt_typ":"business.employment_tenure","p2s":"business.employment_tenure.person","p2o":"business.employment_tenure.company","p2st":"business.employment_tenure.from","p2en":"business.employment_tenure.to"}
coach_dict={"r_name":"sports.sports_team.coaches","cvt_typ":"sports.sports_team_coach_tenure","p2s":"sports.sports_team_coach_tenure.team","p2o":"sports.sports_team_coach_tenure.coach","p2st":"sports.sports_team_coach_tenure.from","p2en":"sports.sports_team_coach_tenure.to"}
relation_list=[spouse_dict,memofsportsteam_dict,employer_dict,coach_dict]

dataset_name="required_relations_freebase"
dataset_version="alpha-3.1"
merged_f=open(dataset_name+"_"+dataset_version+".tsv","w")
uri_prefix="http://rdf.freebase.com/ns/"

relation=relation_list[3]
for relation in relation_list:
    cnt=0
    query = '''
            SPARQL
            PREFIX ns: <http://rdf.freebase.com/ns/>
            SELECT DISTINCT ?cvt ?s ?o ?st ?en
            WHERE
            {{
                ?cvt ns:type.object.type ns:{}.
                ?cvt ns:{} ?s.
                ?cvt ns:{} ?o.

                {{
                    ?cvt ns:{} ?st.
                    OPTIONAL {{?cvt ns:{} ?en.}}
                }}
                UNION
                {{
                    ?cvt ns:{} ?en.
                    OPTIONAL {{?cvt ns:{} ?st.}}
                }}
                FILTER (?s != ?o)
            }}
            '''.format(relation["cvt_typ"],relation["p2s"],relation["p2o"],relation["p2st"],relation["p2en"],relation["p2en"],relation["p2st"])
    # print(query)
    results=query_with_odbc(query)
    print(len(results))
    # results.sort(key=lambda ele: ele[0])
    duplicate_chk_set=set()
    for each_result in results:
        line_info=[]
        
        if each_result[1].startswith(uri_prefix):
            line_info.append(each_result[1][27:])
        else:
            print("Alert!%s" %(str(each_result)))
            continue

        line_info.append(relation["r_name"])

        if each_result[2].startswith(uri_prefix):
            line_info.append(each_result[2][27:])
        else:
            print("Alert!%s" %(str(each_result)))
            continue

        if each_result[3]==None:
            line_info.append("null")
        else:
            line_info.append(each_result[3])
        if each_result[4]==None:
            line_info.append("null")
        else:
            line_info.append(each_result[4])


        dup_chk_str=str(line_info)
        if dup_chk_str in duplicate_chk_set:
            print("Duplicate line found:%s" % dup_chk_str)
            continue

        if line_info[3]!="null" and line_info[4]!="null":
            st_bc=line_info[3].startswith("-")
            st_t=line_info[3]
            en_bc=line_info[4].startswith("-")
            en_t=line_info[4]
            if ((not (st_bc and en_bc)) and st_t>en_t) or (st_bc and en_bc and st_t<en_t):
                print("Time inversion found:%s" %(str(each_result)))
        duplicate_chk_set.add(dup_chk_str)
        merged_f.write("%s\t%s\t%s\t%s\t%s\n" %(line_info[0],line_info[1],line_info[2],convert_time2value(line_info[3]),convert_time2value(line_info[4])))
        cnt+=1
    print("%s actual count %d" %(relation["r_name"],cnt))

148536
Time inversion found:('http://rdf.freebase.com/ns/m.0pdlw1b', 'http://rdf.freebase.com/ns/m.04lgg9l', 'http://rdf.freebase.com/ns/m.0pdlw1f', '1974-02-01', '1974-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0pdlw1b', 'http://rdf.freebase.com/ns/m.0pdlw1f', 'http://rdf.freebase.com/ns/m.04lgg9l', '1974-02-01', '1974-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.011lz18v', 'http://rdf.freebase.com/ns/m.011lz18x', 'http://rdf.freebase.com/ns/m.011lytk9', '1933-04-01', '1933-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.011lz18v', 'http://rdf.freebase.com/ns/m.011lytk9', 'http://rdf.freebase.com/ns/m.011lz18x', '1933-04-01', '1933-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0wqn57s', 'http://rdf.freebase.com/ns/m.0wqn57v', 'http://rdf.freebase.com/ns/m.0kg5hy5', '2012-02-14', '2012-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0wqn57s', 'http://rdf.freebase.com/ns/m.0kg5hy5', 'http://rdf.freebase.com/ns/m.0wqn57v', '2012-02-14', '2012-01-01')
Duplicate line found:['m.0412xxs', 'people.person.spouse_s', 'm.0vv0m32', '1965-12-18', '2006-08-04']
Duplicate line found:['m.0vv0m32', 'people.person.spouse_s', 'm.0412xxs', '1965-12-18', '2006-08-04']
Time inversion found:('http://rdf.freebase.com/ns/m.011mcb2m', 'http://rdf.freebase.com/ns/m.026ldjv', 'http://rdf.freebase.com/ns/m.010gkcsv', '1924-11-01', '1924-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.011mcb2m', 'http://rdf.freebase.com/ns/m.010gkcsv', 'http://rdf.freebase.com/ns/m.026ldjv', '1924-11-01', '1924-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0zgyh80', 'http://rdf.freebase.com/ns/m.0zgyh82', 'http://rdf.freebase.com/ns/m.04117xg', '1981-01-01', '1887-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0zgyh80', 'http://rdf.freebase.com/ns/m.04117xg', 'http://rdf.freebase.com/ns/m.0zgyh82', '1981-01-01', '1887-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0lzqbd0', 'http://rdf.freebase.com/ns/m.0lzqbd4', 'http://rdf.freebase.com/ns/m.05ztm5', '1984-01-01', '1953-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0lzqbd0', 'http://rdf.freebase.com/ns/m.05ztm5', 'http://rdf.freebase.com/ns/m.0lzqbd4', '1984-01-01', '1953-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j4jlqv', 'http://rdf.freebase.com/ns/m.0h4pw53', 'http://rdf.freebase.com/ns/m.08s5f2', '2004-09-23', '2004-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j4jlqv', 'http://rdf.freebase.com/ns/m.08s5f2', 'http://rdf.freebase.com/ns/m.0h4pw53', '2004-09-23', '2004-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0115jfhw', 'http://rdf.freebase.com/ns/m.0gxrw9_', 'http://rdf.freebase.com/ns/m.0115jfhy', '1752-01-01', '1744-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0115jfhw', 'http://rdf.freebase.com/ns/m.0115jfhy', 'http://rdf.freebase.com/ns/m.0gxrw9_', '1752-01-01', '1744-01-01')
Duplicate line found:['m.0d2_zh', 'people.person.spouse_s', 'm.02z58n5', '2011-01-01', 'null']
Duplicate line found:['m.02z58n5', 'people.person.spouse_s', 'm.0d2_zh', '2011-01-01', 'null']
Time inversion found:('http://rdf.freebase.com/ns/m.010by5r7', 'http://rdf.freebase.com/ns/m.010by5r9', 'http://rdf.freebase.com/ns/m.010by5dj', '2002-10-10', '2002-10-01')
Time inversion found:('http://rdf.freebase.com/ns/m.010by5r7', 'http://rdf.freebase.com/ns/m.010by5dj', 'http://rdf.freebase.com/ns/m.010by5r9', '2002-10-10', '2002-10-01')
Time inversion found:('http://rdf.freebase.com/ns/m.011vmx_z', 'http://rdf.freebase.com/ns/m.011vmy00', 'http://rdf.freebase.com/ns/m.0d14dg', '1960-04-02', '1960-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.011vmx_z', 'http://rdf.freebase.com/ns/m.0d14dg', 'http://rdf.freebase.com/ns/m.011vmy00', '1960-04-02', '1960-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0dlrfjn', 'http://rdf.freebase.com/ns/m.0cc6g11', 'http://rdf.freebase.com/ns/m.01n9d9', '1945-05-01', '1945-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0dlrfjn', 'http://rdf.freebase.com/ns/m.01n9d9', 'http://rdf.freebase.com/ns/m.0cc6g11', '1945-05-01', '1945-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j4jll9', 'http://rdf.freebase.com/ns/m.027d69p', 'http://rdf.freebase.com/ns/m.013x8d', '1974-01-01', '1822-08-12')
Time inversion found:('http://rdf.freebase.com/ns/m.0j4jll9', 'http://rdf.freebase.com/ns/m.013x8d', 'http://rdf.freebase.com/ns/m.027d69p', '1974-01-01', '1822-08-12')
Time inversion found:('http://rdf.freebase.com/ns/m.0j4k3ly', 'http://rdf.freebase.com/ns/m.09g3mx2', 'http://rdf.freebase.com/ns/m.0662tj', '1994-11-04', '1989-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j4k3ly', 'http://rdf.freebase.com/ns/m.0662tj', 'http://rdf.freebase.com/ns/m.09g3mx2', '1994-11-04', '1989-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j68psq', 'http://rdf.freebase.com/ns/m.0j68psj', 'http://rdf.freebase.com/ns/m.04q39r3', '2008-05-01', '2008-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j68psq', 'http://rdf.freebase.com/ns/m.04q39r3', 'http://rdf.freebase.com/ns/m.0j68psj', '2008-05-01', '2008-01-01')
Duplicate line found:['m.0_gmntz', 'people.person.spouse_s', 'm.020lp5', '1980-01-01', '1999-02-20']
Duplicate line found:['m.020lp5', 'people.person.spouse_s', 'm.0_gmntz', '1980-01-01', '1999-02-20']
Time inversion found:('http://rdf.freebase.com/ns/m.0n28nc3', 'http://rdf.freebase.com/ns/m.0n28nc6', 'http://rdf.freebase.com/ns/m.015srj', '1963-01-11', '1963-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0n28nc3', 'http://rdf.freebase.com/ns/m.015srj', 'http://rdf.freebase.com/ns/m.0n28nc6', '1963-01-11', '1963-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0n9hw5v', 'http://rdf.freebase.com/ns/m.0n9hw5z', 'http://rdf.freebase.com/ns/m.0bwfqjt', '2012-09-15', '2012-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0n9hw5v', 'http://rdf.freebase.com/ns/m.0bwfqjt', 'http://rdf.freebase.com/ns/m.0n9hw5z', '2012-09-15', '2012-01-01')
Duplicate line found:['m.0q2p_g7', 'people.person.spouse_s', 'm.0df4jm', '1983-06-01', 'null']
Duplicate line found:['m.0df4jm', 'people.person.spouse_s', 'm.0q2p_g7', '1983-06-01', 'null']
Time inversion found:('http://rdf.freebase.com/ns/m.0s9f4n0', 'http://rdf.freebase.com/ns/m.0s9f4n2', 'http://rdf.freebase.com/ns/m.0927fr', '1958-05-29', '1958-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0s9f4n0', 'http://rdf.freebase.com/ns/m.0927fr', 'http://rdf.freebase.com/ns/m.0s9f4n2', '1958-05-29', '1958-01-01')
Duplicate line found:['m.0vx40kc', 'people.person.spouse_s', 'm.0gc79xv', '2007-04-28', 'null']
Duplicate line found:['m.0gc79xv', 'people.person.spouse_s', 'm.0vx40kc', '2007-04-28', 'null']
Time inversion found:('http://rdf.freebase.com/ns/m.0vvfvcp', 'http://rdf.freebase.com/ns/m.03phcz', 'http://rdf.freebase.com/ns/m.0vvfvcr', '1995-07-01', '1995-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0vvfvcp', 'http://rdf.freebase.com/ns/m.0vvfvcr', 'http://rdf.freebase.com/ns/m.03phcz', '1995-07-01', '1995-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.012g79hx', 'http://rdf.freebase.com/ns/m.012g79hz', 'http://rdf.freebase.com/ns/m.02qflbc', '2013-07-20', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.012g79hx', 'http://rdf.freebase.com/ns/m.02qflbc', 'http://rdf.freebase.com/ns/m.012g79hz', '2013-07-20', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0hq8lgh', 'http://rdf.freebase.com/ns/m.0hq8lgl', 'http://rdf.freebase.com/ns/m.0hq7gwq', '1938-03-26', '1938-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0hq8lgh', 'http://rdf.freebase.com/ns/m.0hq7gwq', 'http://rdf.freebase.com/ns/m.0hq8lgl', '1938-03-26', '1938-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j6c_x0', 'http://rdf.freebase.com/ns/m.0j6c_wv', 'http://rdf.freebase.com/ns/m.01g9f3', '1845-07-09', '1845-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j6c_x0', 'http://rdf.freebase.com/ns/m.01g9f3', 'http://rdf.freebase.com/ns/m.0j6c_wv', '1845-07-09', '1845-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0v10fyz', 'http://rdf.freebase.com/ns/m.0v10fz0', 'http://rdf.freebase.com/ns/m.01sv1t3', '1996-01-01', '1977-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0v10fyz', 'http://rdf.freebase.com/ns/m.01sv1t3', 'http://rdf.freebase.com/ns/m.0v10fz0', '1996-01-01', '1977-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0vbsk2l', 'http://rdf.freebase.com/ns/m.04tn4bn', 'http://rdf.freebase.com/ns/m.0v0k1zr', '2011-07-05', '2011-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0vbsk2l', 'http://rdf.freebase.com/ns/m.0v0k1zr', 'http://rdf.freebase.com/ns/m.04tn4bn', '2011-07-05', '2011-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0wsvc2m', 'http://rdf.freebase.com/ns/m.0wsvc2p', 'http://rdf.freebase.com/ns/m.01368v', '1957-01-11', '1957-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0wsvc2m', 'http://rdf.freebase.com/ns/m.01368v', 'http://rdf.freebase.com/ns/m.0wsvc2p', '1957-01-11', '1957-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0102j366', 'http://rdf.freebase.com/ns/m.0102j368', 'http://rdf.freebase.com/ns/m.01b1d8', '1899-03-01', '1890-09-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0102j366', 'http://rdf.freebase.com/ns/m.01b1d8', 'http://rdf.freebase.com/ns/m.0102j368', '1899-03-01', '1890-09-01')
Time inversion found:('http://rdf.freebase.com/ns/m.01032j49', 'http://rdf.freebase.com/ns/m.01032j4c', 'http://rdf.freebase.com/ns/m.03d6xnt', '2013-09-14', '2012-12-14')
Time inversion found:('http://rdf.freebase.com/ns/m.01032j49', 'http://rdf.freebase.com/ns/m.03d6xnt', 'http://rdf.freebase.com/ns/m.01032j4c', '2013-09-14', '2012-12-14')
Duplicate line found:['m.0j13gg8', 'people.person.spouse_s', 'm.0276w0t', '2011-05-17', 'null']
Duplicate line found:['m.0276w0t', 'people.person.spouse_s', 'm.0j13gg8', '2011-05-17', 'null']
Duplicate line found:['m.0jxt7m', 'people.person.spouse_s', 'm.03dh26', '1967-05-20', '1973-03-07']
Duplicate line found:['m.03dh26', 'people.person.spouse_s', 'm.0jxt7m', '1967-05-20', '1973-03-07']
Duplicate line found:['m.012ncc8w', 'people.person.spouse_s', 'm.0c4y61v', '1982-01-01', 'null']
Duplicate line found:['m.0c4y61v', 'people.person.spouse_s', 'm.012ncc8w', '1982-01-01', 'null']
Time inversion found:('http://rdf.freebase.com/ns/m.095cbj4', 'http://rdf.freebase.com/ns/m.05m_46v', 'http://rdf.freebase.com/ns/m.095c6p5', '1957-05-05', '1957-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.095cbj4', 'http://rdf.freebase.com/ns/m.095c6p5', 'http://rdf.freebase.com/ns/m.05m_46v', '1957-05-05', '1957-01-01')
Duplicate line found:['m.07l1y3', 'people.person.spouse_s', 'm.01dn0t', '1952-01-01', '1969-01-01']
Duplicate line found:['m.01dn0t', 'people.person.spouse_s', 'm.07l1y3', '1952-01-01', '1969-01-01']
Duplicate line found:['m.0_xntk8', 'people.person.spouse_s', 'm.0_xnzb0', '1996-01-01', 'null']
Duplicate line found:['m.0_xnzb0', 'people.person.spouse_s', 'm.0_xntk8', '1996-01-01', 'null']
Time inversion found:('http://rdf.freebase.com/ns/m.0h9d707', 'http://rdf.freebase.com/ns/m.0h980c_', 'http://rdf.freebase.com/ns/m.0gx10qx', '1615-11-25', '1604-08-22')
Time inversion found:('http://rdf.freebase.com/ns/m.0h9d707', 'http://rdf.freebase.com/ns/m.0gx10qx', 'http://rdf.freebase.com/ns/m.0h980c_', '1615-11-25', '1604-08-22')
Time inversion found:('http://rdf.freebase.com/ns/m.0hyf8wz', 'http://rdf.freebase.com/ns/m.041648', 'http://rdf.freebase.com/ns/m.07fsk2', '2005-08-10', '2005-08-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0hyf8wz', 'http://rdf.freebase.com/ns/m.07fsk2', 'http://rdf.freebase.com/ns/m.041648', '2005-08-10', '2005-08-01')
Duplicate line found:['m.0j0xncm', 'people.person.spouse_s', 'm.01yyry', '1923-01-01', '1928-01-01']
Duplicate line found:['m.01yyry', 'people.person.spouse_s', 'm.0j0xncm', '1923-01-01', '1928-01-01']
Time inversion found:('http://rdf.freebase.com/ns/m.0j3zb9w', 'http://rdf.freebase.com/ns/m.0gyl0bd', 'http://rdf.freebase.com/ns/m.0gyl09q', '1974-01-01', '1970-02-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j3zb9w', 'http://rdf.freebase.com/ns/m.0gyl09q', 'http://rdf.freebase.com/ns/m.0gyl0bd', '1974-01-01', '1970-02-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j4l17v', 'http://rdf.freebase.com/ns/m.0hpkpjk', 'http://rdf.freebase.com/ns/m.027vps', '1962-12-14', '1962-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j4l17v', 'http://rdf.freebase.com/ns/m.027vps', 'http://rdf.freebase.com/ns/m.0hpkpjk', '1962-12-14', '1962-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j69j0p', 'http://rdf.freebase.com/ns/m.0j69j0h', 'http://rdf.freebase.com/ns/m.05f9f1g', '2001-01-27', '2001-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j69j0p', 'http://rdf.freebase.com/ns/m.05f9f1g', 'http://rdf.freebase.com/ns/m.0j69j0h', '2001-01-27', '2001-01-01')
Duplicate line found:['m.0kc0w5c', 'people.person.spouse_s', 'm.0n9yyty', '1967-01-28', 'null']
Duplicate line found:['m.0n9yyty', 'people.person.spouse_s', 'm.0kc0w5c', '1967-01-28', 'null']
Time inversion found:('http://rdf.freebase.com/ns/m.0pdf1nv', 'http://rdf.freebase.com/ns/m.03p108', 'http://rdf.freebase.com/ns/m.03d68gr', '1938-01-01', '1934-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0pdf1nv', 'http://rdf.freebase.com/ns/m.03d68gr', 'http://rdf.freebase.com/ns/m.03p108', '1938-01-01', '1934-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0r8dk_7', 'http://rdf.freebase.com/ns/m.03vlgt', 'http://rdf.freebase.com/ns/m.02w_zpj', '1984-07-22', '1984-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0r8dk_7', 'http://rdf.freebase.com/ns/m.02w_zpj', 'http://rdf.freebase.com/ns/m.03vlgt', '1984-07-22', '1984-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0r8wd8q', 'http://rdf.freebase.com/ns/m.0r8wd8w', 'http://rdf.freebase.com/ns/m.0dljfcv', '1979-05-01', '1972-08-13')
Time inversion found:('http://rdf.freebase.com/ns/m.0r8wd8q', 'http://rdf.freebase.com/ns/m.0dljfcv', 'http://rdf.freebase.com/ns/m.0r8wd8w', '1979-05-01', '1972-08-13')
Time inversion found:('http://rdf.freebase.com/ns/m.0w43f1b', 'http://rdf.freebase.com/ns/m.025wx1v', 'http://rdf.freebase.com/ns/m.0gmmq', '0424-01-01', '0404-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0w43f1b', 'http://rdf.freebase.com/ns/m.0gmmq', 'http://rdf.freebase.com/ns/m.025wx1v', '0424-01-01', '0404-01-01')
Duplicate line found:['m.0j6j7rt', 'people.person.spouse_s', 'm.02py1vf', '2008-08-01', 'null']
Duplicate line found:['m.02py1vf', 'people.person.spouse_s', 'm.0j6j7rt', '2008-08-01', 'null']
Duplicate line found:['m.0hgmx95', 'people.person.spouse_s', 'm.0x19m3n', '1999-01-01', 'null']
Duplicate line found:['m.0x19m3n', 'people.person.spouse_s', 'm.0hgmx95', '1999-01-01', 'null']
Time inversion found:('http://rdf.freebase.com/ns/m.0z1h1sq', 'http://rdf.freebase.com/ns/m.0gcy9lj', 'http://rdf.freebase.com/ns/m.0z1h1ss', '1899-01-01', '1886-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0z1h1sq', 'http://rdf.freebase.com/ns/m.0z1h1ss', 'http://rdf.freebase.com/ns/m.0gcy9lj', '1899-01-01', '1886-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0zb0g1v', 'http://rdf.freebase.com/ns/m.0zb0g1x', 'http://rdf.freebase.com/ns/m.0zb0fjv', '2013-06-07', '1906-03-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0zb0g1v', 'http://rdf.freebase.com/ns/m.0zb0fjv', 'http://rdf.freebase.com/ns/m.0zb0g1x', '2013-06-07', '1906-03-01')
Duplicate line found:['m.0ch3mzl', 'people.person.spouse_s', 'm.0gl3ygq', 'null', '1982-01-01']
Duplicate line found:['m.0gl3ygq', 'people.person.spouse_s', 'm.0ch3mzl', 'null', '1982-01-01']
Duplicate line found:['m.0rq81_7', 'people.person.spouse_s', 'm.0jvrdd', 'null', '2001-08-28']
Duplicate line found:['m.0jvrdd', 'people.person.spouse_s', 'm.0rq81_7', 'null', '2001-08-28']
people.person.spouse_s actual count 148504
173198
Time inversion found:('http://rdf.freebase.com/ns/m.0r8w75b', 'http://rdf.freebase.com/ns/m.09d276', 'http://rdf.freebase.com/ns/m.0182r9', '2013-01-25', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.06wh8l3', 'http://rdf.freebase.com/ns/m.08p4_r', 'http://rdf.freebase.com/ns/m.019m6z', '2009-07-22', '2009-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0kr2kxm', 'http://rdf.freebase.com/ns/m.0kr2kxn', 'http://rdf.freebase.com/ns/m.01ync', '2012-08-11', '2012-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0s6m488', 'http://rdf.freebase.com/ns/m.02vmg02', 'http://rdf.freebase.com/ns/m.01ync', '2013-03-29', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.04m9lrt', 'http://rdf.freebase.com/ns/m.0ddcy2', 'http://rdf.freebase.com/ns/m.0gy9d4', '2008-08-28', '2008-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0v2hqq_', 'http://rdf.freebase.com/ns/m.0t_dncd', 'http://rdf.freebase.com/ns/m.02fp3', '2013-05-02', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0n4kqjt', 'http://rdf.freebase.com/ns/m.027t891', 'http://rdf.freebase.com/ns/m.0jmjr', '2012-03-01', '2012-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0n4m0b9', 'http://rdf.freebase.com/ns/m.05mxwp', 'http://rdf.freebase.com/ns/m.0jmjr', '2012-02-01', '2012-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.010f1vtl', 'http://rdf.freebase.com/ns/m.0102d286', 'http://rdf.freebase.com/ns/m.02rxrh', '1880-03-27', '1880-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0v_lyzn', 'http://rdf.freebase.com/ns/m.02q5_66', 'http://rdf.freebase.com/ns/m.0jnr_', '2013-02-28', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.06wjnvd', 'http://rdf.freebase.com/ns/m.04lg6sv', 'http://rdf.freebase.com/ns/m.088_9g', '2009-02-02', '2009-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0nbcclt', 'http://rdf.freebase.com/ns/m.0bsq6t', 'http://rdf.freebase.com/ns/m.0fl_56', '2013-02-16', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0qzgmpk', 'http://rdf.freebase.com/ns/m.03qlhm5', 'http://rdf.freebase.com/ns/m.04czcb', '2013-01-15', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0knd_1k', 'http://rdf.freebase.com/ns/m.0bqxbn', 'http://rdf.freebase.com/ns/m.03x6m', '2012-01-31', '2012-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0pd5z2f', 'http://rdf.freebase.com/ns/m.0ksg9n', 'http://rdf.freebase.com/ns/m.03x6m', '2013-01-04', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0hpgmdz', 'http://rdf.freebase.com/ns/m.04sl8c', 'http://rdf.freebase.com/ns/m.01y49', '2009-11-01', '2009-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0hpgmfh', 'http://rdf.freebase.com/ns/m.04sl8c', 'http://rdf.freebase.com/ns/m.04vn5', '2011-08-23', '2011-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0rgmmqg', 'http://rdf.freebase.com/ns/m.03c7j84', 'http://rdf.freebase.com/ns/m.0447h7', '2013-03-07', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0j2g93d', 'http://rdf.freebase.com/ns/m.0frvfc', 'http://rdf.freebase.com/ns/m.0j8cb', '2013-01-08', '2013-01-01')
Duplicate line found:['m.0w_skvt', 'sports.pro_athlete.teams', 'm.05nmg_', '2012-01-01', 'null']
Duplicate line found:['m.0zd4d6j', 'sports.pro_athlete.teams', 'm.03qfbq6', '2013-01-01', 'null']
Time inversion found:('http://rdf.freebase.com/ns/m.010q1czf', 'http://rdf.freebase.com/ns/m.0gmc_xd', 'http://rdf.freebase.com/ns/m.04vn5', '2014-05-28', '2014-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0z3qkp7', 'http://rdf.freebase.com/ns/m.0jkw_s4', 'http://rdf.freebase.com/ns/m.04vn5', '2013-11-11', '2013-01-01')
Time inversion found:('http://rdf.freebase.com/ns/m.0rpsdkq', 'http://rdf.freebase.com/ns/m.0ckv1h', 'http://rdf.freebase.com/ns/m.05g3b', '2013-03-17', '2013-01-01')

In [19]:
p_relation_list=["people.person.date_of_birth","people.deceased_person.date_of_death"]
for relation in p_relation_list:
    query = """
            SPARQL
            PREFIX ns: <http://rdf.freebase.com/ns/>
            SELECT ?s ?date
            WHERE
            {{
                ?s ns:{} ?date.
            }}
            """.format(relation)
    results=query_with_odbc(query)
    print(len(results))
    for each_result in results:
        line_info=[]
        line_info.append(each_result[0].replace(uri_prefix,""))
        line_info.append(relation)
        for i in range(3):
            line_info.append(each_result[1])
        merged_f.write("%s\t%s\t%s\t%s\t%s\n" %(line_info[0],line_info[1],line_info[2],convert_time2value(line_info[3]),convert_time2value(line_info[4])))

merged_f.close()

1924970
711838

In [21]:
query="""
SPARQL
SELECT DISTINCT ?s ?r ?otrnod
WHERE
{
    {
      ?cvt ns:type.object.type ns:people.marriage.
      ?cvt ns:people.marriage.spouse ?s.
    }
    UNION
    {
      ?cvt ns:type.object.type ns:sports.sports_team_roster.
      {?cvt ns:sports.sports_team_roster.player ?s.}
      UNION
      {?cvt ns:sports.sports_team_roster.team ?s.}
    }
    UNION
    {
      ?cvt ns:type.object.type ns:business.employment_tenure.
      {?cvt ns:business.employment_tenure.company ?s.}
      UNION
      {?cvt ns:business.employment_tenure.person ?s.}
    }
    UNION
    {
      ?cvt ns:type.object.type ns:sports.sports_team_coach_tenure.
      {?cvt ns:sports.sports_team_coach_tenure.coach ?s.}
      UNION
      {?cvt ns:sports.sports_team_coach_tenure.team ?s.}
    }
    UNION
    {
      ?s ns:people.person.date_of_birth ?date
    }
    UNION
    {
      ?s ns:people.deceased_person.date_of_death ?date
    }
    ?s ?r ?otrnod.
    ?otrnod rdfs:label ?nodlabel.
}
GROUP BY ?r
"""
results=query_with_odbc(query)

In [22]:
skipcnt=0
red_f=open("redundant_part_freebase_with_obj_type.tsv","w")
removed_r=["http://www.w3.org/1999/02/22-rdf-syntax-ns#type"]
for each_result in results:
    this_r=each_result[1].replace("http://rdf.freebase.com/ns/","")
    if this_r in removed_r:
        skipcnt+=1
        continue
    if each_result[0].startswith("http://rdf.freebase.com/ns/"):
        this_e1=each_result[0].replace("http://rdf.freebase.com/ns/","")
    else:
        print("Alert!%s\n" %(str(each_result)))
    if each_result[2].startswith("http://rdf.freebase.com/ns/"):
        this_e2=each_result[2].replace("http://rdf.freebase.com/ns/","")
    else:
        print("Alert!%s\n" %(str(each_result)))
    
    red_f.write("%s\t%s\t%s\tnull\tnull\n" %(this_e1,this_r,this_e2))

red_f.close()

In [23]:
final_file=open("all_relations_with_redundant_freebase_alpha-1.1.tsv","w")
merge_file_list=["required_relations_freebase_alpha-3.1.tsv","redundant_part_freebase_with_obj_type.tsv"]
for file_name in merge_file_list:
    now_file=open(file_name,"r")
    file_content=now_file.readlines()
    for each_line in file_content:
        final_file.write(each_line)
    now_file.close()
final_file.close()

In [12]:
# results.pop(0)
# results.pop(0)
# print(results)
redundant_relation=[]
for each_res in results:
    redundant_relation.append(each_res[0].replace("http://rdf.freebase.com/ns/",""))
log_file=open("freebase_logfile.txt","w")
for each_r in redundant_relation:
    cnt=0
    query="""
        SPARQL
        SELECT DISTINCT ?e1 ?e2
        {{
            ?e1 ns:{} ?e2.
            ?e1 rdfs:label ?e1label.
            ?e2 rdfs:label ?e2label.
        }}
    """.format(each_r)
    results=query_with_odbc(query)
    print("%s complete!" %each_r)
    duplicate_chk_set=set()
    for each_result in results:
        line_info=[]
        
        if each_result[0].startswith(uri_prefix):
            line_info.append(each_result[0][27:])
        else:
            log_file.write("Alert!IN %s:%s\n" %(each_r,str(each_result)))
            continue

        line_info.append(each_r)

        if each_result[1].startswith(uri_prefix):
            line_info.append(each_result[1][27:])
        else:
            log_file.write("Alert!IN %s:%s\n" %(each_r,str(each_result)))
            continue

        dup_chk_str=str(line_info)
        if dup_chk_str in duplicate_chk_set:
            print("Duplicate line found:%s" % dup_chk_str)
            continue

        duplicate_chk_set.add(dup_chk_str)
        merged_f.write("%s\t%s\t%s\tnull\tnull\n" %(line_info[0],line_info[1],line_info[2]))
        cnt+=1
    print("%s(redundant) actual count %d" %(each_r,cnt))
merged_f.close()
log_file.close()

common.topic.notable_types complete!

ValueError: I/O operation on closed file.

In [19]:
test_str="1244 00:00:00-04:00"
print(convert_time2value(test_str))

12440101

In [7]:
#get SPARQL
relation=relation_list[0]
query = '''
            SPARQL
            PREFIX ns: <http://rdf.freebase.com/ns/>
            SELECT DISTINCT ?cvt ?s ?o ?st ?en
            WHERE
            {{
                ?cvt ns:type.object.type ns:{}.
                ?cvt ns:{} ?s.
                ?cvt ns:{} ?o.

                {{
                    ?cvt ns:{} ?st.
                    OPTIONAL {{?cvt ns:{} ?en.}}
                }}
                UNION
                {{
                    ?cvt ns:{} ?en.
                    OPTIONAL {{?cvt ns:{} ?st.}}
                }}
                FILTER (?s != ?o)
            }}
            '''.format(relation["cvt_typ"],relation["p2s"],relation["p2o"],relation["p2st"],relation["p2en"],relation["p2en"],relation["p2st"])
print(query)

            SPARQL
            PREFIX ns: <http://rdf.freebase.com/ns/>
            SELECT DISTINCT ?cvt ?s ?o ?st ?en
            WHERE
            {
                ?cvt ns:type.object.type ns:people.marriage.
                ?cvt ns:people.marriage.spouse ?s.
                ?cvt ns:people.marriage.spouse ?o.

                {
                    ?cvt ns:people.marriage.from ?st.
                    OPTIONAL {?cvt ns:people.marriage.to ?en.}
                }
                UNION
                {
                    ?cvt ns:people.marriage.to ?en.
                    OPTIONAL {?cvt ns:people.marriage.from ?st.}
                }
                FILTER (?s != ?o)
            }

In [2]:
query="""
SPARQL
PREFIX ns: <http://rdf.freebase.com/ns/>
SELECT DISTINCT ?cvt  ?st ?en
WHERE
{
    ?cvt ns:type.object.type ns:people.marriage.
    ?cvt ns:people.marriage.spouse ns:m.02ctvl.
    ?cvt ns:people.marriage.spouse ns:m.018wsf.

    {
        ?cvt ns:people.marriage.from ?st.
        OPTIONAL {?cvt ns:people.marriage.to ?en.}
    }
    UNION
    {
        ?cvt ns:people.marriage.to ?en.
        OPTIONAL {?cvt ns:people.marriage.from ?st.}
    }

}
"""
results=query_with_odbc(query)
print(results)

[('http://rdf.freebase.com/ns/m.05st71t', '0000-01-01', '0004-01-01')]

In [4]:
convert_time2value('0000-01-01')

'00000101'